.recipeContainer {
  margin: auto;
  width: 90vw;
}

.recipeHeader {
  height: 25vh;
  background-image: url("../images/food-img.jpg");
  margin-bottom: 0.3rem;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.1px;
  -webkit-text-stroke-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.recipeHeader h1 {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.1px;
  -webkit-text-stroke-color: black;
}

.recipe-name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: black;
}

.recipeImg {
  height: 45vh;
  width: auto;
  margin: auto;
}

.recipeContainer ul {
  list-style: none;
}

iframe {
  max-width: 100%;
}

img {
  max-width: 100%;
}

.instructions {
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  border: 2px solid lightgray;
}

.instructions p {
  font-size: 12px;
  letter-spacing: 1px;
}

.instructions li {
  font-size: 12px;
  margin-right: 2rem;
}

.step-by-step {
  margin: 2rem;
  border-bottom: 5px solid lightgray;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.social-container img {
  margin: 1rem;
  max-height: 40px;
}

@media screen and (max-width: 850px) {
  .instructions p {
    font-size: 10px;
  }

  .instructions {
    width: 70vw;
  }

  li {
    font-size: 12px;
  }
}
